xml/dfs.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://nirdslab.cs.odu.edu/dfs/xml" xmlns="https://nirdslab.cs.odu.edu/dfs/xml">
    <!-- type definition - email -->
    <xs:simpleType name="email">
        <xs:annotation>
            <xs:documentation>e-mail address</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[^@]+@[^\.]+\..+" />
        </xs:restriction>
    </xs:simpleType>
    <!-- type definition - ref -->
    <xs:simpleType name="ref">
        <xs:annotation>
            <xs:documentation>reference to a pre-declared field</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:IDREF"></xs:restriction>
    </xs:simpleType>
    <!-- type definition - device -->
    <xs:complexType name="device">
        <xs:annotation>
            <xs:documentation>information about the recording device</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="model" type="xs:string">
                <xs:annotation>
                    <xs:documentation>model of the device</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="manufacturer" type="xs:string">
                <xs:annotation>
                    <xs:documentation>manufacturer of the device</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="category" type="xs:string">
                <xs:annotation>
                    <xs:documentation>category of the device</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- type definition - stream -->
    <xs:complexType name="stream">
        <xs:annotation>
            <xs:documentation>information about the data stream</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>name of the data stream</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:documentation>description of the data stream</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>unit of measurement</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="frequency" type="xs:unsignedInt">
                <xs:annotation>
                    <xs:documentation>sampling frequency (Hz)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="channels" type="channels">
                <xs:annotation>
                    <xs:documentation>channels in the data stream</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- type definition - author -->
    <xs:complexType name="author">
        <xs:annotation>
            <xs:documentation>information about the author</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>name of the author</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="affiliation" type="xs:string">
                <xs:annotation>
                    <xs:documentation>affiliation of the author</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="email">
                <xs:annotation>
                    <xs:documentation>email address of the author</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- type definition - dataset -->
    <xs:complexType name="dataset">
        <xs:annotation>
            <xs:documentation>information about the dataset</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>name of the dataset</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:documentation>description of the dataset</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="keywords" type="keywords"></xs:element>
            <xs:element name="authors" type="authors"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- type definition - file -->
    <xs:complexType name="file">
        <xs:annotation>
            <xs:documentation>information about the file</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="id" type="xs:ID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>unique id for the file</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="path" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>path to the file</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="encoding" type="xs:string">
                <xs:annotation>
                    <xs:documentation>file format</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:documentation>description of the file</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="keys" type="keys">
                <xs:annotation>
                    <xs:documentation>references to each key in the file</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="checksum" type="xs:hexBinary">
            <xs:annotation>
                <xs:documentation>md5 checksum of file</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <!-- type definition - field -->
    <xs:complexType name="field">
        <xs:annotation>
            <xs:documentation>information about the field</xs:documentation>
        </xs:annotation>
        <xs:sequence maxOccurs="1">
            <xs:element name="name" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>name of the field</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>description of the field</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
                <xs:documentation>id of the field</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="dtype" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>data type of field</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <!-- type definition - link -->
    <xs:complexType name="link">
        <xs:annotation>
            <xs:documentation>information about the link</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="field" type="ref"></xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>type of link</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <!-- compound type - channels -->
    <xs:complexType name="channels">
        <xs:annotation>
            <xs:documentation>information about each channel in the meta-stream</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="channel" type="ref"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- compound type - authors -->
    <xs:complexType name="authors">
        <xs:annotation>
            <xs:documentation>information about each author in the dataset</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="author" type="author"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- compound type - keywords -->
    <xs:complexType name="keywords">
        <xs:annotation>
            <xs:documentation>keywords that best describes the dataset</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="keyword" type="xs:string">
                <xs:annotation>
                    <xs:documentation>a keyword</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- compound type - streams -->
    <xs:complexType name="streams">
        <xs:annotation>
            <xs:documentation>information about each data stream in the meta-stream</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="stream" type="stream"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- compound type - files -->
    <xs:complexType name="files">
        <xs:annotation>
            <xs:documentation>information about all files in a meta-file</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="file" type="file"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- compound type - keys -->
    <xs:complexType name="keys">
        <xs:annotation>
            <xs:documentation>information about all keys referenced in a file</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="key" type="ref"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- compound type - fields -->
    <xs:complexType name="fields">
        <xs:annotation>
            <xs:documentation>information about all fields in the current scope</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="field" type="field"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- compound type - links -->
    <xs:complexType name="links">
        <xs:annotation>
            <xs:documentation>information about all links in the current scope</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="link" type="link"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>